{% extends 'port/main.html' %}
{% load static %}

{% block content %}
<div class="col-md-8 offset-md-2 " style="
    height: 200px;
    width: 400px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;">
<div class="email-section>">
  <center>
  <h2> Don't Be A Stranger, Just Say Hello.</h2>
  <span>
  <a style="display: block; color: #FC9C27; " href="tel:+79286233879">+79286233879</a>
  </span>
  <span>
  <a style="display: block; color: #FC9C27; " href="mailto:fayemimayowa@gmail.com">fayemi11mayowa@gmail.com</a>
  </span>
  <span>
  <a style="display: block; color: #FC9C27; " href="https://goo.gl/maps/imLeutVXVuPt5p9g9" target="_blank"> Rostov, Russia</a>
  </span>
  </center>
</div>
</div>

{% endblock  %}